


/**
 *
 * BOX
 *
 **/

.box {
	background: white;
	border: solid 1px #E2E2E2;
	box-shadow: 0 3px 6px rgba(0,0,0,.04);
}

.box__content {
	padding: 1.25rem;
}



/**
 *
 * TABS
 *
 **/
 
 
.tabs-ext {
    background: #F3F3F3;
    color: #4D4D4D;
    border: none;
    border-bottom: 1px solid #ccc;
}

.tabs-ext > a:focus, .tabs-ext> a[aria-selected='true'] {
    background: #F3F3F3;
}

.tabs-title-ext {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 0 0;
    background-color: #E6E5E5;
    color: #4D4D4D;
    font-size: 12px;
    font-weight: bold;
    font-stretch: expanded;
    margin: 0 5px -1px 5px;
}

.tabs-title-ext > a {
    color: #4D4D4D;
}

.tabs-title-ext:focus,
.tabs-title-ext > a:focus {
	outline: none;
}

.tabs-title-ext > a:focus, 
.tabs-title-ext > a[aria-selected='true'],
.tabs-title > a:hover {
    background: transparent;
    color: #4D4D4D;
}

.tabs-title-ext.is-active {
	background: #F3F3F3;
	border-bottom-color: #f3f3f3;
}

.tabs-content-ext {
    background: #F3F3F3;
    border: none;
}

.tabs-panel {
	padding: 0;
	margin: 3rem auto;
}




/**
 *
 * CONTENT
 *
 **/
 
 

.title-module {
   font-size: 15px;
   text-align: left;
   color: #4D4D4D;
   text-transform: uppercase;
   font-weight: bold;
   font-stretch: expanded;
   margin-bottom: 20px;
}


.section-title{
    font-size: 1.56rem;
    line-height: 1.3em;
    color: #4D4D4D;
    margin: 0 0 1rem 0;
}

.section-desc{
    font-size: 14px;
    color: #4D4D4D;
    text-align: left;
    margin-bottom: 3rem;
}











/**
 *
 * FORMS
 *
 **/


label {
	font-size: 14px;
  color: #4D4D4D;
}

.button {
	background: #E0E0E0;
	color: #136298;
	font-style: italic;
	padding: 0;
	border: 0;
	font-size: 1rem;
}

.button__icon {
	padding: 0.6rem;
	background: #208AD2;
	display: inline-block;
	color: white;
}

.button__text {
	padding: 0.6rem 1rem 0.6rem 0.6rem; 
	display: inline-block;
}

.button:hover {
	background: #208AD2;
	color: white;
}

.button:focus {
	outline: none;
}







.textarea-ext{
    resize: none;
    min-height:125px;
    border-color: #CCCCCC;
}

.space{
    margin-bottom: 31px;
}

input[type="date"] {
    position: relative;
}

/* create a new arrow, because we are going to mess up the native one
see "List of symbols" below if you want another, you could also try to add a font-awesome icon.. */
input[type="date"]:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400; 
    content: "\f133";
    color: #555;
    padding: 0 5px;
}

/* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}

/* adjust increase/decrease button */
input[type="date"]::-webkit-inner-spin-button {
    z-index: 1;
}

 /* adjust clear button */
/*
 input[type="date"]::-webkit-clear-button {
     z-index: 1;
 }
.wrp-save{
    text-align: center;
    margin:auto;
}
.btn-save{
    text-align: center;
    margin:auto;
}
*/







